body {
    background-color: /*rgb(200,200,200)*/ black;
    color: orange;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	font-color: orange;
	font-family: Verdana, sans-serif;

}

footer {
	font-style: italic;
	font-size: 90%;
}